[user]
  name = Jeff Care
  email = jeff.care@sas.com
[color]
  status = auto
  ui = auto
[push]
  default = upstream
[alias]
  # I frequently misspell "add" as "ass" (I did it again when writing this comment)
  #
  ass = add
  a = add
  ai = add --interactive

  b = branch
  bd = branch --delete
  bdr = push origin --delete
  br = branch --remote

  cm = commit --message
  cma = commit --all --message

  co = checkout
  com = checkout master
  com9 = checkout master09

  d = diff
  dh = diff HEAD
  ds = diff --staged
  du = diff @{upstream}
  dp = diff @{upstream}..HEAD

  dt = difftool
  dth = difftool HEAD
  dts = difftool --staged
  dtu = difftool @{upstream}
  dtp = difftool @{upstream}..HEAD

  f = fetch
  fa = fetch --all --tags
  fap = fetch --all --tags --prune

  ls = log --pretty=format:'%C(green)%h %C(yellow)[%ar]%C(red)%d %Creset%s%C(blue) [%aN | %cN]'
  ll = log --numstat --pretty=format:'%n%C(green)%H %C(red)%d%n%Creset%s%n%C(yellow)%aN, %aI%n%C(blue)%cN, %cI%Creset'

  p = pull
  pr = pull --rebase

  # use with caution! this blows away all local changes!
  #
  rhu = reset --hard @{upstream}

  s = status --long
  ss = status --short
  sv = status --verbose

  wtl = worktree list
  wtp = worktree prune --verbose
[core]
  eol = lf
  autocrlf = input
[diff]
  tool = bc
[difftool]
  prompt = false
[difftool "bc"]
  cmd = /usr/local/bin/bcomp "$(cygpath -w ${LOCAL})" "${REMOTE}"
[merge]
  tool = bc
[mergetool "bc"]
  path = /usr/local/bin/bcomp
