[user]
  name = Jeff Care
  email = jeff.care@sas.com
[color]
  status = auto
  ui = auto
[push]
  default = upstream
[pull]
  rebase = true
[alias]
  # I frequently misspell "add" as "ass" (I did it again when writing this comment)
  #
  ass = add
  a = add
  ai = add --interactive

  b = branch
  bd = branch --delete
  bdr = push origin --delete
  br = branch --remote

  cm = commit --message
  cma = commit --all --message
  cane = commit --amend --no-edit

  co = checkout
  com = checkout master
  com9 = checkout master09

  cp = cherry-pick

  d = diff
  dh = diff HEAD
  dp = diff @{upstream}..HEAD
  ds = diff --staged
  du = diff @{upstream}

  dt = difftool
  dth = difftool HEAD
  dtp = difftool @{upstream}..HEAD
  dts = difftool --staged
  dtu = difftool @{upstream}

  f = fetch
  fa = fetch --all --tags
  fap = fetch --all --tags --prune

  ls = log --pretty=format:'%C(green)%h %C(yellow)[%ar]%C(red)%d %Creset%s%C(blue) [%aN | %cN]'
  ll = log --numstat --pretty=format:'%n%C(green)%H %C(red)%d%n%Creset%s%n%C(yellow)%aN, %aI%n%C(blue)%cN, %cI%Creset'

  mt = mergetool

  pohm = push origin HEAD:master
  pohm9 = push origin HEAD:master09

  pr = pull --rebase
  pri = pull --rebase=interactive
  prom = pull --rebase=interactive origin master
  prom9 = pull --rebase=interactive origin master09

  rba = rebase --abort
  rbc = rebase --continue

  # use with caution! this blows away all local changes!
  #
  ru = reset @{upstream}
  rhu = reset --hard @{upstream}

  s = status --long
  ss = status --short

  wtl = worktree list
  wtp = worktree prune --verbose
[core]
  eol = lf
  autocrlf = input
[diff]
  tool = bc
[difftool]
  prompt = false
[difftool "bc"]
  cmd = /usr/local/bin/bcomp "$(cygpath -w ${LOCAL})" "${REMOTE}"
[merge]
  tool = bc
[mergetool "bc"]
  path = /usr/local/bin/bcomp
[rebase]
  abbreviateCommands = true
[format]
  pretty = fuller
