[user]
  name = Jeff Care
  email = jeff.care@sensus.com
[color]
  status = auto
  ui = auto
[push]
  default = simple
[alias]
  s = status --long
  ss = status --short

  # I frequently misspell "add" as "ass" (and I just did it when writing this comment
  #
  ass = add
  a = add
  ai = add --interactive

  cm = commit --message
  cma = commit --all --message

  ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat